#site-header h1 {
  font-size: 5em;
}

#product-container {
  height: 400px;
  max-height: 400px;
}

.arrow {
  height: 400px;
}

.right-arrow {
  width: 100%;
  text-align: right;
}
.left-arrow {
  width: 100%;
  text-align: left;
}
